<div [ngClass]="'alert-info'" class="alert" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
</div>

<hr>

<div [ngClass]="alerta" class="alert" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
</div>


<button type="button" class="btn btn-info" (click)="alerta = 'alert-info'">Info</button>
<button type="button" class="btn btn-success" (click)="alerta = 'alert-success'">Success</button>

<h3 [ngClass]="{'text-danger':propiedades.danger, 'text-info': !propiedades.danger}">
    Hola mundo
</h3>

<button type="button" class="btn btn-danger" (click)="propiedades.danger = !propiedades.danger">
  Cambiar
</button>

<hr>

<h3>Proceso Asincrono</h3>

<button type="button" class="btn btn-primary" (click)="ejecutar()" [disabled]="loading">
  <i [ngClass]="{ 'fa-save':!loading, 'fa-refresh fa-spin':loading }"
     class="fa fa-refresh fa-spin" aria-hidden="true"></i>
  <span *ngIf="loading"> Por favor espere</span>
  <span *ngIf="!loading"> Guardar Cambios</span>
</button>